:root {
  font-size: 16px;
  --font-primary: 'Inter', sans-serif;
  --font-extra-bold: 800;
  --font-bold: 600;
  --font-regular: 500;
  --font-thin: 400;
  /* colors */
  --bg-header: #f5f5f5;
  --bg-body: #fff;
  --white: #fff;

  --btn-primary: #3770ed;
  --btn-secondary: #fff;
  --btn-border: #d5d4d8;
  --btn-selected: #4a4e74;

  --text-primary: #2b283a;
  --text-secondary: #918e9b;
  --text-main: #4a4e74;
  --text-btn: #4a4e74;

  --elm-primary: #c3c6db;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* colors */
    --bg-header: #3a69d2;
    --bg-body: #1f2937;

    --btn-primary: #3a69d2;
    --btn-secondary: #d1d4f4;
    --btn-border: #d5d4d8;
    --btn-selected: #fff;

    --text-primary: #fff;
    --text-secondary: #d5d4d8;
    --text-main: #f5f5f5;

    --elm-primary: #c3c6db;
  }
}

::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  font-family: var(--font-primary);
  font-weight: var(--font-thin);
  color: var(--text-primary);
}
input,
button,
textarea,
select {
  font: inherit;
}
body {
  -webkit-font-smoothing: antialiased;
  background-color: #000;
}
/***** TYPOGRAPHY *****/
h1,
p {
  text-align: center;
  color: var(--text-primary);
}
h1 {
  font-weight: var(--font-extra-bold);
  font-size: 2.5rem;
  line-height: 2.5rem;
}
p {
  font-size: 1rem;
  line-height: 1.75rem;
}
.invoice-titles,
.invoice-remove,
.currency,
.invoice-notes {
  color: var(--text-secondary);
}
.invoice-titles,
.invoice-notes {
  font-weight: var(--font-thin);
  font-size: 0.75rem;
}
.invoice-titles {
  text-transform: uppercase;
}
.col-services {
  font-size: 1.25em;
}
.invoice-services {
  font-weight: var(--font-bold);
}

.invoice-remove {
  text-transform: capitalize;
  font-weight: var(--font-thin);
  font-size: 0.4em;
  padding-left: 1em;
}

.invoice-total {
  font-size: 2.25em;
}

/***** LAYOUT *****/
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 550px;
}
.container-header {
  padding: 2rem 0;
  background-color: var(--bg-header);
}
.container-body {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--bg-body);
}
.container-task {
  border-bottom: 1px solid var(--elm-primary);
}
table {
  width: 100%;
}
.row {
  line-height: 2em;
}
.col-1 {
  text-align: left;
}
.col-2 {
  text-align: right;
}
/* .container-total {
} */

/***** BUTTONS *****/
.btn-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.btn {
  border: 2px solid;
  border-radius: 7px;
  padding: 0.6em;
}
.btn-primary {
  width: 100%;
  background-color: var(--btn-primary);
  border-color: var(--btn-primary);

  color: var(--white);
  font-size: 1em;
  font-weight: var(--font-regular);
  line-height: 1.5em;
}
.btn-primary:hover {
  border-color: var(--white);
}
.btn i {
  padding-right: 0.5em;
}
.btn-secondary {
  background-color: var(--btn-secondary);
  border-color: var(--btn-border);
  min-width: 145px;

  font-size: 0.875em;
  color: var(--text-btn);
}
.btn-secondary:hover {
  border-color: var(--btn-selected);
}
