:root {
  --primary-font: 'Inter', sans-serif;
  --extra-bold: 800;
  --bold: 600;
  --regular: 400;
  /* colors */
  --hero-light: #fff;
  --hero-highlight: #4adf86;
  --text-light: #ded4d8;
  --text-highlight: #55f991;
  --background: #1f2937;
  --btn-highlight: #10b981;
  --btn-faded: #273549;
  --accents: #2f3e53;
}
::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  font-family: var(--primary-font);
}
input,
button,
textarea,
select {
  font: inherit;
}
body {
  -webkit-font-smoothing: antialiased;
  background-color: #000;
}
/* typography */
h1 {
  color: var(--hero-light);
  line-height: 1em;
  margin-bottom: 1rem;
}
.hero {
  color: var(--hero-highlight);
  display: block;
}
p {
  color: var(--text-light);
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.footnote {
  font-size: 0.7rem;
  text-align: right;
  margin: 0 0 15px 0;
  padding: 0;
}
/* buttons/inputs */
input,
button {
  font-weight: var(--regular);
  border-radius: 6px;
}

.btn-info label {
  font-size: 1rem;
  background-color: var(--btn-highlight);
  border: 1px var(--btn-highlight) solid;
  border-radius: 6px;
  color: var(--hero-light);
  min-width: 60px;
  min-height: 42px;
  text-align: center;
  padding: 0 15px;
  line-height: 3em;
}

.btn-info input {
  font-size: 1rem;
  background-color: var(--btn-faded);
  border: 1px var(--btn-highlight) solid;
  color: var(--hero-light);
  max-width: 60px;
  min-height: 42px;
  padding: 0 20px;
}
button {
  font-size: 1rem;
  background-color: var(--btn-highlight);
  border: 1px var(--btn-highlight) solid;
  color: var(--hero-light);
  min-width: 223px;
  min-height: 42px;
  padding-right: 15px;
}
button:hover,
button:focus {
  cursor: pointer;
  border-color: var(--btn-highlight);
  color: var(--btn-highlight);
  background-color: var(--btn-faded);
}
button .fa {
  padding: 0 5px;
}
.container-pswd input {
  background-color: var(--btn-faded);
  border: 1px var(--btn-faded) solid;
  max-width: 211px;
  min-height: 39px;
  text-align: center;
  color: var(--text-highlight);
  font-size: 1em;
}
.container-pswd input::placeholder {
  color: var(--background);
  font-size: 2.5em;
  position: relative;
  bottom: 0.25rem;
}

/* display */
.container-box {
  background-color: var(--background);
  margin: 0 auto;
  margin-top: 42px;
  width: 550px;
  border: 1px solid var(--background);
  border-radius: 2px;
}
.container {
  padding: 0 46px;
}
.hero-heading {
  padding-top: 6rem;
  margin-bottom: 2rem;
}
.btn-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 35px;
  border-bottom: 1px solid var(--accents);
}
.container-pswd {
  display: flex;
  flex-wrap: wrap;
  margin: 35px 0 0 0;
  padding-bottom: 3rem;
  gap: 24px;
}
hr {
  border: 1px solid var(--accents);
  margin: 0;
}
